bayesian-optimization
d3graph
h5py
hdbscan
hyperopt
jupyter
keras
matplotlib
more-itertools
netron
numpy
openpyxl
optuna
pandas
pydantic
scikit-learn
scipy
seaborn
statsmodels
tensorflow
torch
torchvision
xgboost
